<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sirtqi va Ichki vazifalar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css.css">
</head>
<body>
<header>
    <div class="forms-wrapper">
        <form id="add-main-form">
            <div class="row">
                <h1>Sirtqi:</h1>
                <input type="text" name="main_title" placeholder="Sirtqi vazifa nomi..." required autocomplete="off">
                <button type="submit">Qo'shish</button>
            </div>
        </form>

        <form id="add-sub-form">
            <div class="row">
                <h1>Ichki vazifa:</h1>
                <select name="main_task_id" id="main_task_select" required>
                    <option value="">Sirtqini tanlang</option>
                </select>
                <input type="text" name="sub_title" placeholder="Fan yoki tartib..." required autocomplete="off">
                <button type="submit">Qo'shish</button>
            </div>
        </form>
    </div>
</header>

<main>
    <section>
        <div class="column">
            <h1>Sirtqi vazifalar</h1>
            <div class="sirtqi_list">
            </div>
        </div>

        <div class="column">
            <h1 id="subtask-header-title">Ichidagi narsalar</h1>
            <div class="ichidan_ochiladigan">
                <p class="placeholder-text">Sirtqi vazifalardan birini bosing...</p>
            </div>
        </div>
    </section>
</main>

<script src="/static/js.js"></script>
</body>
</html>